<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Minifutbo iES-9024</h1>
    <form action="<%=url%>/nuevocliente" method="post">
        <p><label for="">Nombre:&nbsp;</label><input type="text" name="nombre"></p>
        <p><label for="">DNI:&nbsp;</label><input type="number" name="dni"></p>
        <p><label for="">Telefono:&nbsp;</label><input type="text" name="telefono"></p>

        <input type="submit" value="Enviar datos">

    </form>
</body>
</html>