<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cliente</title>
</head>
<body>
    <h1>Minifutbol iES-9024</h1>
    <form action='<%=url%>/nuevocliente' method="POST">
        <p><label>Nombre:&nbsp;</label><input type="text" name="nombre"> </p>
        <p><label>DNI:&nbsp;</label><input type="text" name="dni"> </p>
        <p><label>Telefono:&nbsp;</label><input type="text" name="telefono"> </p>
        <input type="hidden"  name="token" value="lkjrt4v3wmtiqoprmmor98">
        <input type="submit" value="Agregar Cliente">
    </form> 
</body>
</html>