<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <p>Template ejs </p>
    <p>Cohorte: <%= cohorte %></p>

    <h1>Minifutbo iES-9024</h1>
    
    <form action='<%=url%>/nuevoturno' method="POST">
        <p><label>Dia:&nbsp;</label><input type="date" name="dia"> </p>
        <p><label>Turno:&nbsp;</label><input type="number" name="turno"> </p>
        <p><label>Libre:&nbsp;</label><input type="checkbox" name="libre"> </p>
        <input type="hidden"  name="token" value="lkjrt4v3wmtiqoprmmor98">
        <input type="submit" value="Agregar Turno">
    </form> 

    <h1>Minifutbol IES-9024</h1>
    <form action='<%=url%>/nuevocliente' method="POST">
        <p><label>nombre:&nbsp;</label><input type="text" name="nombre"> </p>
        <p><label>dni:&nbsp;</label><input type="number" name="dni"> </p>
        <p><label>teléfono:&nbsp;</label><input type="tel" name="telefono"> </p>
        <buton type="submit">Enviar</buton>
    </form>
    

</body>
</html>